<div class="container">
  <mat-card>
    <h1>
      <mat-card-title translate>APP_NAME</mat-card-title>
    </h1>
    <mat-card-content>
      <mat-icon>code</mat-icon>
      <p>
        "Stage" c'est une plateforme créée par Tunisie telecom, orientée vers les étudiants, <br />
        dans le but de simplifier le processus de stage, de la recherche à la soumission et à l'acceptation. <br />cette
        application a été développée par une étudiante en stage qui a passé beaucoup de temps à chercher un stage.
      </p>
      <span translate>Version</span> {{ version }}
    </mat-card-content>
  </mat-card>
</div>
