:host {
  display: flex;
  flex: 1;
}
.container {
  flex: 1;

  justify-items: center;
  .top-card {
    text-align: center;
  }
  padding: 1em;
  .content {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
  }
  .search-box {
    flex: 0.5;
    margin-right: 20px;
  }
  .stages-list {
    justify-items: center;
    width: 900px;

    display: flex;
    flex-direction: column;
    flex: 1;
    .stage-card {
      margin-bottom: 10px;
      .small-text {
        color: rgba(0, 0, 0, 0.6);
        font-size: medium;
      }
      .some {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 5px;
        padding: 10px;
      }
    }
  }
  .logo-tt {
    background-image: url("../../assets/tt.png");
    background-size: cover;
  }
}

.logo {
  width: 150px;
  margin: 0 auto;
}

q {
  font-style: italic;
  quotes: "« " " »";
}
.col {
  display: flex;
  flex-direction: column;
}
